
.header-logo-col{
    max-width: 200px !important;
}
.header-qoute-col{
    max-width: 97px !important;
}
.header-qoute-col .get-qoute-btn a{
    font-size: 12px !important;
}
.header-qoute-col .get-qoute-btn a::after{
    width: 0;
}
.header-menu-col{
    max-width: calc(100% - 297px) !important;
}
.main-menu ul{
    list-style: none;
    padding-left: 0;
}
.main-menu ul.menu > li{
    display: inline-block;
    margin: 0 27.5px; 
    cursor: pointer;
    position: relative;

}

.header-main-wrapper .elementor-container{
    justify-content: space-between;
    align-items:center; 
    /* max-width: 1376px !important; */
}
.header-menu-col .elementor-widget-wrap .elementor-element{
    display: flex;
    justify-content: center;
    align-items:center; 
    /* margin-top: 6px; */
}

.main-menu ul.menu > li > a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-transform: capitalize;
}
 .main-menu ul.menu > li:hover > a{
    text-decoration: underline;
}

[data-elementor-type="header"] {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}
body.admin-bar [data-elementor-type="header"]{
    top: 32px
}

.main-menu ul.menu > li .sub-menu li a{
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color:#292C37;
    padding: 12px 0;
    border-bottom: 1px solid #E0E0E0;
}

.main-menu ul.menu > li .sub-menu::before{
    content: '';
    background: rgba(255, 0, 0, 0);
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    top: -20px;
    z-index: -1;
}
.main-menu ul.menu > li .sub-menu li a:hover{
    color: #D83434;
}
.header-logo-col img{
    filter: brightness(0) invert(1);
    transition: 0.3s all
}


/*active header*/
body.active-header .header-main-wrapper{
    background: #fff !important;
    box-shadow: 5px 10px 26px rgb(0 0 0 / 7%);
}
body.active-header .main-menu ul.menu > li > a{
    color: #151336;
}
body.active-header .header-logo-col img{
    filter: brightness(1) invert(0);
}



.menu-arrow{
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc(50% - -3px);
    transform: translateY(-50%);
    right: calc(0% - 23px);
    background: url(../img/form-arrow.svg) center center no-repeat;
    background-size: auto;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

body.active-header .menu-arrow {
    filter: brightness(1) invert(0);
}

.overflowbody{
    overflow-y: hidden !important;
}

.herader-mobile-wrapper{
    display: none;
    visibility: hidden;
    opacity: 0;
}

.main-menu ul.menu > li .sub-menu li.current_page_item > a{
    color: #D83434;
    font-weight: 600
}

@media screen and (min-width:1024px) {
    .overflowbody {
        overflow: visible !important;
    }

    .mobile-header-wrapper {
        display: none !important;
    }
}

@media screen and (max-width:1024px) {
    .burger_icon {
        width: 26px;
        height: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        top: 0px;
        right: 3px;
        position: relative;
    }

    .burger_icon .menu_bar {
        width: 100%;
        height: 2px;
        background-color: #292D32;
        transition: all 0.5s ease-in-out;
        border-radius: 5px;


    }

    body.mobile-menu-open .menu_bar1 {
        transform: rotate(-45deg) translate(-1px, 9px);
    }

    body.mobile-menu-open .menu_bar2 {
        opacity: 0;
    }

    body.mobile-menu-open .menu_bar3 {
        transform: rotate(45deg) translate(-1px, -10px);
    }

    body.mobile-menu-open .burger_icon {
        width: 20px;
    }

    .mobile-header-wrapper {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        top: 127px;
        overflow: auto;
        display: none;
        height: 100vh;
        background: #EAEBED;
    }

    body.admin-bar [data-elementor-type="header"] .mobile-header-wrapper {
        top: 156px;
    }

    body.mobile-menu-open .header-main {
        background-color: #fff !important;
    }

    .mobile-menu ul.menu,
    .mobile-menu ul {
        list-style: none;
    }

    .mobile-menu ul.menu {
        padding: 0;
    }

    .mobile-menu ul li a {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--primary1);
    }

    .mobile-menu ul.menu>li>.sub-menu {
        display: none;
        position: static;
        padding: 0;
        background: #D8DBDF;
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 0 20px;
        margin-top: 19px;
        margin-bottom: -19px;

    }

    .mobile-menu ul.menu>li>a {
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }

    .mobile-menu ul.menu>li {
        padding: 19px 0 19px;
        border-bottom: 1px solid #D9E0DB;
    }

    .mobile-menu ul.menu>li:last-child {
        border-bottom: none;
    }

    .mobile-menu ul.menu>li>.sub-menu>li.menu-item-has-children,
    .mobile-menu ul.menu>li.menu-item-has-children {
        position: relative;
    }

    .open-chilssubmenu-arrow,
    .open-submenu-arrow {
        width: 40px;
        height: 30px;
        position: absolute;
        background: url('../img/mobile-sab-menu.svg') center no-repeat;
        background-size: auto;
        right: -12px;
        top: 17px;
        cursor: pointer;
        transition: all 0.3s;

    }

    .open-chilssubmenu-arrow {
        top: 13px;
    }

    .mobile-menu ul.menu>li>.sub-menu>li:not(:last-child) {
        border-bottom: 1px solid #ECF2EE
    }

    .mobile-header-wrapper ul li.menu-item-has-children>a {
        width: calc(100% - 30px);
    }

    .mobile-header-wrapper ul li a {
        white-space: normal !important;
        word-break: break-word;
        display: inline-block;
        width: 100%;
    }


    /*submenu > submenu*/
    .mobile-menu ul.menu>li>.sub-menu>li .sub-menu {
        display: none;
        position: static;
    }

    .mobile-menu ul.menu>li>.sub-menu>li {
        padding: 16px 0 13px;
    }

    .is-active>.open-submenu-arrow,
    .is-active>.open-chilssubmenu-arrow {
        transform: scaleY(-1);
    }

    .mobile-menu ul.menu>li>.sub-menu>li .sub-menu {
        padding-left: 16px;
        margin-top: 5px;
        margin-bottom: -6px;
    }

    .mobile-menu ul.menu>li>.sub-menu>li .sub-menu li {
        padding: 8px 0 6px;
    }



    .mobile-header-wrapper::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        width: 6px;
        border-radius: 10px;
    }

    .mobile-header-wrapper::-webkit-scrollbar {
        width: 8px;
        background-color: #ffffff;
        border-radius: 10px;

    }

    .mobile-header-wrapper::-webkit-scrollbar-thumb {
        background-color: var(--e-global-color-408a2f8);
        ;
        border: 2px solid #f5f5f5;
        border-radius: 10px;
    }

}
@media only screen and (max-width: 782px) {
    body.admin-bar [data-elementor-type="header"] {
      top: 46px;
    }
  
    html #wpadminbar {
      position: fixed;
    }
  
    body.admin-bar [data-elementor-type="header"] .mobile-header-wrapper {
      top: 170px;
    }
  }
  
  @media screen and (max-width:767px) {
    .desktop-hide {
      display: block !important;
    }
  
    .mobile-header-wrapper {
      top: 126px;
    }
  }
  
  @media screen and (max-width:558px) {
    body.admin-bar [data-elementor-type="header"] .mobile-header-wrapper {
      top: 192px;
    }
  
    .mobile-header-wrapper {
      top: 146px;
    }
  }