.hs-container{
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}
.hs-btn-wrapper{
    display: flex;
    gap: 16px
}
.hs-main-wrpper{
    overflow: hidden;
}
.hs-main-wrpper  .hs-inner-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 240px 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hs-main-wrpper  .hs-inner-wrapper .hs-bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

}
.hs-main-wrpper  .hs-inner-wrapper .hs-bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hs-main-wrpper  .hs-inner-wrapper .hs-bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(89.75deg, rgba(235, 231, 196, 0.94) 28.26%, rgba(255, 255, 255, 0) 115.46%);
    display: block;
}
.hs-container .hs-content-wrapper{
    position: relative;
    max-width: 700px;
    z-index: 1;
}
.hs-main-wrpper .hs-slider .swiper-slide{
    height: auto;
}
.hs-container .hs-content-wrapper .hs-title{
    color: #133A1B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:0 0 12px;  
}
.hs-container .hs-content-wrapper .hs-title span.change-hero-color{
    color:#017D12;
    margin-right: 10px;
}

.hs-container .hs-content-wrapper  .hs-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 520px;
    margin-bottom: 30px
}
.hs-main-wrpper .swiper-button-next:after, .hs-main-wrpper .swiper-button-prev:after{
    color: #133A1B
}
/*hero slider controlles*/
.hs-controlls .hs-arrow-controll-prev,
.hs-controlls .hs-arrow-controll-next{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translatey(-50%);
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center
}
.hs-controlls .hs-arrow-controll-prev{
    left: 0px;
    transform: scaleX(-1) translateY(-50%);
}
.fav-food-main-wrapper .swiper-pagination .swiper-pagination-bullet,
.hs-controlls .swiper-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border-radius: 0;
    background-color: #133A1B;
    opacity: 1;
    transition: 0.3s all;
    margin-left: 4px !important;
    margin-right: 4px !important;
}
.fav-food-main-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.hs-controlls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 50px
}
.hs-main-wrpper .hs-controlls .swiper-pagination{
    bottom: 35px !important;
}


/*cta code*/
.delicious-food-wrapper .elementor-widget-wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% + 30px);
    margin: 0 -15px -30px !important;
    
}
.delicious-food-wrapper .elementor-widget-wrap .delicious-food-card{
    width: calc(33.33% - 30px);
    margin: 0 15px 30px !important;
    box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.06);
}
.delicious-food-wrapper .elementor-widget-wrap .delicious-food-card .elementor-icon-box-title{
    margin-top: -5px
}
.delicious-food-wrapper .elementor-widget-wrap .delicious-food-card .elementor-widget-container{
    height: 100%;
}

/*fav slider code*/
.fav-food-main-wrapper .fav-Food-swiper{
    padding: 0 10px 100px;
    border-radius: 10px 10px 0 0;
}
.fav-food-main-wrapper .fav-Food-swiper .swiper-wrapper .swiper-slide{
    height: auto;
    background-color: #fff;
    box-shadow: 0px 4px 16px 3px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    border-radius: 10px 10px 0 0
}
.fav-Food-swiper  .fav-slide-image-wrapper{
    max-height: 320px;
    overflow: hidden;
    position: relative
}
.fav-Food-swiper  .fav-slide-image-wrapper .fav-slide-image-container{
    min-height: 250px;
    max-height: 300px;
    position: relative;
    padding-bottom: 70%;
}
.fav-Food-swiper  .fav-slide-image-wrapper .fav-slide-image-container img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: center;
}

.fav-Food-swiper .fav-slide-image-wrapper .fav-slide-image-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(253, 4, 60, 0.00) 21.81%, rgba(1, 125, 18, 0.50) 93.99%);
    left: 0;
    top: 0;
    z-index: 1;
}
.fav-Food-swiper .fav-slide-content-wrapper{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
}
.fav-food-main-wrapper .dark-btn{
    margin-top: auto;
}
.fav-Food-swiper .fav-slide-content-wrapper .title-price-wrapper{
    display: flex;
    align-items: center;
}
.fav-Food-swiper .fav-slide-content-wrapper .title-price-wrapper .price{
    width: 80px;
    text-align: right;
    color: #017D12;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 26px;
    align-items: flex-start
    
}
.fav-Food-swiper .fav-slide-content-wrapper .title-price-wrapper .fav-slide-title{
    width: calc(100% - 80px);
    color: #011B10;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px
}
.fav-Food-swiper .fav-slide-content-wrapper .fav-slide-description{
    color: #7D7D7D;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 20px;
}
.fav-food-main-wrapper .swiper-pagination .swiper-pagination-bullet{
    background-color: #017D12;
}

/*HOME Gallery*/
.image-gallery-wrapper .elementor-image-gallery .gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% + 30px) !important;
    margin: 0 -15px -30px !important;
}
.image-gallery-wrapper .elementor-image-gallery .gallery  .gallery-item{
    max-width: calc(33.33% - 30px) !important;
    margin: 0 15px 30px !important;
    transition: 0.3s all;
}
.image-gallery-wrapper .elementor-image-gallery .gallery .gallery-item:hover{
    box-shadow: 0px 4px 16px 3px rgba(0, 0, 0, 0.1)
}
.image-gallery-wrapper .elementor-image-gallery .gallery  .gallery-item .gallery-icon a{
display: block;
min-height: 240px;
max-height: 300px;
height: 55vw;
position: relative;
padding-bottom: 70%
}
.image-gallery-wrapper .elementor-image-gallery .gallery  .gallery-item .gallery-icon a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute
}

.galler-tab-nav .elementor-widget-container ul.elementor-icon-list-items{
    max-width: 400px;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
}
.galler-tab-nav .elementor-widget-container ul.elementor-icon-list-items li{
    min-width: max-content
}

.tabs-sect:not(.elementor-element-edit-mode) .hide-tab-heading{
    display: none !important;
}

@media screen and (max-width:1024px){
    .hs-main-wrpper .hs-inner-wrapper{
        padding: 180px 20px 100px;
    }
    
    /*cta code*/
    .delicious-food-wrapper .elementor-widget-wrap{
        width: calc(100% + 20px);
        margin: 0 -10px -30px !important;
    }
    .delicious-food-wrapper .elementor-widget-wrap .delicious-food-card{
        max-width: calc(50% - 20px) !important;
    }

  
}
@media screen and (max-width:900px){
  /*home gallery*/
  .image-gallery-wrapper .elementor-image-gallery .gallery  .gallery-item{
    max-width: calc(50% - 30px) !important;
    margin: 0 15px 30px !important;
}
}
@media screen and (max-width:767px){
    .hs-controlls .hs-arrow-controll-prev,
    .hs-controlls .hs-arrow-controll-next{
        display: none;
    }
    .hs-main-wrpper .hs-inner-wrapper{
        padding: 180px 0 100px;
    }
    .hs-btn-wrapper .elementor-button{
        width: calc(50% - 8px);
        display: inline-block;
    }
    /*fav slider*/
    .fav-food-main-wrapper .fav-Food-swiper{
        padding:  0 5px 60px;
    }
}
@media screen and (max-width:580px){
    .hs-btn-wrapper{
        flex-wrap: wrap; 
    }
    .hs-btn-wrapper .elementor-button {
        width: 100%;
        display: inline-block;
    } 

    /*cta code*/
    .delicious-food-wrapper .elementor-widget-wrap{
        max-width: 100%;
        margin: 0 0 -20px !important;
    }
    .delicious-food-wrapper .elementor-widget-wrap .delicious-food-card{
        width: 100%;
        margin: 0 0 20px !important
    }

    /*HOME Gallery*/
    .image-gallery-wrapper .elementor-image-gallery .gallery {
        max-width: 100%!important;
        margin: 0 0px -30px !important;
    }
    .image-gallery-wrapper .elementor-image-gallery .gallery  .gallery-item{
        max-width: 100% !important;
        margin: 0 0 30px !important
    }
}
